.Nav {
    background: #f7f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-btn {
    border-radius: 0;
}

.logo {
    cursor: pointer;
}